{% extends "vege/base.html" %} {% load static %} {% block title %}Students |
RecipeApp{% endblock %} {% block content %}
<h2 class="section-title">Student Details</h2>
<div class="content-container">
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Student Image</th>
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Department</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {% for student in queryset %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {% if student.student_image %}
            <img
              src="{{ student.student_image.url }}"
              alt="{{ student.student_name }}"
              width="60"
              height="60"
              class="rounded-circle"
            />
            {% else %} No picture {% endif %}
          </td>
          <td>{{ student.student_id }}</td>
          <td>{{ student.student_name }}</td>
          <td>{{ student.student_email }}</td>
          <td>{{ student.department.department }}</td>
          <td>{{ student.student_age }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
