{% extends "vege/base.html" %} {% block content %}
<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-4 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2 class="mb-4 text-center">Register</h2>

    {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
      <div
        class="alert {% if message.tags == 'error' %}alert-danger {% elif message.tags == 'success' %}alert-success {% else %}alert-info{% endif %}"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input
        type="text"
        name="first_name"
        class="form-control"
        id="first_name"
        name="first_name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input
        type="text"
        name="last_name"
        class="form-control"
        id="last_name"
        name="last_name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="check_terms" />
      <label class="form-check-label" for="check_terms">Check me out</label>
    </div>

    <p class="text-muted mt-3 text-center">
      you have already account? <a href="{% url 'vege:login' %}">login</a>
    </p>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
